*{
    background-color: rgb(34, 31, 32);
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.header{
    background-color: black;
   
    border: 3px solid blueviolet;
}
.conteiner{
    display: block;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

h1{
   
    padding: 50px;
    text-align: center;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
   
}

h2{

    font-size: 25px;
    margin-top: 50px;
    text-align: center;
    color: #fff;

}

#form{
    margin-top: 40px;
   
}

input, button{

    display: block;
    padding: 10px;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    resize: none;
    color: white;
    font-size:15px

}

button{
    background-color: #8a2be2;
    border: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    font-style: italic;
    cursor: pointer;
    color: #fff;
}

button:hover{
    background-color: #5a268a;
}

.mensagedvalid{
    background-color: #5a268a;
    color: #fff;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 16px;
    text-align: center;
    display: none;

}