*{
    background-color: rgb(34, 31, 32);
}

.header{
    background-color: black;
   
    border: 3px solid blueviolet;
}

h1{
    margin-left: 100px;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
   
}

h2{
    font-size: 25px;
    margin-left: 250px;
    color: #fff;

}

#form{
    margin-top: 40px;
   
}

input, button{
    display: block;
    padding: 10px;
    margin-bottom: 15px;
    margin-left: 19%;
    width: 70%;
    resize: none;
    color: white;
    font-size:15px
   
}

button{
    background-color: #8a2be2;
    border: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    font-style: italic;
    cursor: pointer;
    color: #fff;
}

button:hover{
    background-color: #5a268a;
}

.mensagedvalid{
    background-color: #5a268a;
    color: #fff;
    width: 1000px;
    height: 70px;  
    align-items: center;
    margin-left: 200px;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 16px;

}